.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  position: absolute;
  left: 30px;
  top: 30px;
  margin: auto;
  /*text-align: center;*/
  font-family: arial;
}
.container1{
	width: 600px;
  position: absolute;
	left: 500px;
  top: 10px;
}


.container2{
  width: 400px;
  position: absolute;
	left: 10px;
  top: 400px;
}

.container3{
  width: 400px;
  position: absolute;
	left: 450px;
  top: 400px;

}.container4{
  width: 400px;
  position: absolute;
	left: 900px;
  top: 400px;
}